body {
    background-color: #1a1a1a;
    color: #f2e6c9;
    font-family: "Georgia", serif;
    margin: 0;
    text-align: center;
}

#title-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

button {
    background: #b38b4d;
    color: white;
    border: none;
    padding: 12px 28px;
    margin: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
    border-radius: 4px;
}

button:hover {
    background: #d4aa70;
}

#game-screen {
    display: none;
    margin-top: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#text-box {
    font-size: 20px;
    text-align: left;
    line-height: 1.6;
    min-height: 200px;
    padding: 20px;
    border-left: 4px solid #d4aa70;
}

#choices button {
    display: block;
    margin: 12px auto;
    width: 60%;
}
